* {
    box-sizing: border-box;
}

img {
    display: inline-block;
}

.entranceSite {
    background-image: url("../images/shelter2.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

::placeholder {
    padding-left: 0px;
    color: white;
    font-weight:100;
    opacity: 0.8;
}
.entranceUsername {
    background: none;
    background-image: url("../images/user.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 28px;
    text-align:center;
    letter-spacing: 1.5px;
    font-size: small;
    border: 1px solid white;
    width: 280px;
    padding: 8px;
    color: white;
    border-radius: 3px;
}
.entrancePassword {
    background: none;
    background-image: url("../images/lock.svg");
    background-repeat: no-repeat;
    background-position:left center;
    background-position-x: 28px;
    text-align:center;
    letter-spacing: 1.5px;
    font-size: small;
    border: 1px solid white;
    width: 280px;
    padding: 8px;
    color: white;
    border-radius: 3px;
}

.entranceBtn {
    border: none;
    width: 280px;
    padding: 8px;
    border-radius: 3px;
    color: green;
    font-weight: 700;
    letter-spacing: 1px;

}
.entranceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding-top: 15px;
}
.entranceBtn:hover {
    color: black;
    background-color: red;
}
.entranceBtn:active {
    background-color: yellowgreen;
    color: blue;
}